allennlp==0.9.0
datasets==1.6.0
flair==0.8.0.post1
huggingface-hub==0.0.19
k-means-constrained==0.6.0
matplotlib==3.2.2
nltk==3.7
numpy==1.21.4
pandas==1.4.0
regex==2022.6.2
scikit-learn==1.0.2
scipy==1.8.0
seaborn==0.11.2
sentence-transformers==2.2.2
tensorboard==2.11.2
tensorflow==2.11.0
tokenizers==0.13.2
torch==1.12.0
tqdm==4.49.0
transformers==4.26.1
urllib3==1.26.14
Werkzeug==1.0.1
XlsxWriter==3.0.8